.box {
  width: 100px;
  border: 1px solid #ccc;
  height: 100px;
  background-color: red;
  transition: all 1s linear 0s;
  line-height: 100px;
  text-align: center;
  font-size: 40px;
}
.box:hover {
  width: 200px;
  height: 200px;
  background-color: green;
  transform: rotate(270deg)
}